/***********************

  	Bespoke Css

 ***********************/












/***********************

	   Common Defaults

 ***********************/

 /* integrate top-nav into .main
=============================================================*/
/*	 .webgl .top-nav {
	 	position: static;
	 	width: auto;
	 	box-shadow: none;
	 	border-bottom: none;
	 }
	 .entry img {
		height: auto !important;
	}
	 .top-nav > div > .page-aligner {
	 	height: 64px; 
	 }
	.webgl body .main {
	 	padding-top: 0px !important;
	 	margin-top: 0 !important;
	}
	#hubs-container {
		margin-top: 30px;
	}
	html.touch body .main .left-nav.desktop {
		top: 16px;
	}
	.search-results-overlay,
	.search-results-backdrop {
		top: 0 !important;
	}
	body .item-next-prev .item-next .preview .meta-top,
	body .item-next-prev .item-prev .preview .meta-top {
		overflow: visible;
	}*/
/*============================================================*/ 


/*  Normalizing
=============================================================*/
	/* uppercase */
	body .hubs-frontend h1 {
		text-transform: initial;
	}
	/* overflow */
	html.webgl {
		overflow-wrap: normal !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
	}
	/* strip footer */
	.webgl body>footer {
	    position: initial;
	    color: inherit;
	    font-size: inherit;
	    padding: initial;
	    margin-bottom: initial;
	    border-top: none;
	    overflow: auto;
	}
	/* side menu .touch error when nav is in main */
	html.touch body .main .left-nav.desktop {
    	top: 16px
	}
	/* ul stuff */
	.hub-page ul,.listing-page ul {
	    margin: 0 !important;
	    padding: 0 !important;
	}
	/* hide back to top arrow */
	#moveToTop, #moveToTop a {
		display: none;
	}
	/* normalize icons */
	#injected-header [class^="icon-"], 
	#injected-header  [class*=" icon-"]{
		background-image: none;
	}
	/* image stretch on mobile */
	.entry img {
		height: auto !important;
	}
	/* links */
	a:hover, a {
		text-decoration: none !important;
	}
	/* bootstrap .hide fix */
	.single-page .cta.hide {
	    display: initial !important;
	}
/*============================================================*/ 

 /* increase menu font size
=============================================================*/
 	body .top-nav .left-nav.desktop>li>a {
	    font-size: .9rem;
	    letter-spacing: normal;
	    background-image: none;
	    padding: 6px 10px 4px;
	}
	.top-nav .left-nav.desktop>li ul li a {
		font-size: .9em;
	}
/*============================================================*/

/* hide 'powered by uberflip'
=============================================================*/
	/*body .description-block .powered-by {
		display: none;
	}*/
/*===========================================================*/

/* remove default hub logo
==============================================================*/
	body .top-nav .secondary-logo {
		display: none !important;
	}
	.top-nav ul.left-nav.desktop {
		left: -11px;
    	top: 14px;
		position: absolute;
	}
/*============================================================*/ 

/* always show description
==============================================================*/
/*body .tile.single:not(.highlight) .description h4.long-h3 {
    display: block;
}*/
/*============================================================*/

/* hub background color
=============================================================*/
	/*body,
	body #hubs-container,
	html body.lab_permanent_header.hub-page .main {
		background-color: #f4f4f4 !important;
	}*/
/*============================================================*/ 











  